RewriteEngine On

RewriteRule ^install/?$ install/install.php [QSA,END]

RewriteCond %{REQUEST_URI} "!/static/."
RewriteCond %{REQUEST_URI} "!/node_modules/."
RewriteRule ^ index.php [QSA,E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
