RewriteEngine On

RewriteCond %{REQUEST_FILENAME} "/install/"
RewriteRule ^ install/install.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} "!/static/."
RewriteCond %{REQUEST_FILENAME} "!/node_modules/."
RewriteRule ^ index.php [QSA,L]
