RewriteEngine On

RewriteCond %{REQUEST_FILENAME} "/install/"
RewriteRule ^ install/install.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} "!/css/."
RewriteCond %{REQUEST_FILENAME} "!/js/."
RewriteRule ^ index.php [QSA,L]
