/* Header */

#user {
	float: right;
	text-align: right;
	margin: 0.2ex 2ex;
	font-size: 15pt;
	font-weight: normal;
}

#gentime {
	margin: 0.5ex 0ex;
	font-size: 10pt;
}


/* Contents */

h3 {
	font-size: 15pt;
	font-weight: normal;
	margin: 1.5ex 0ex 0.5ex 0ex;
}

#contents {
	margin: 1ex 2ex;
}

#legend th {
	text-align: right;
	padding-right: 2ex;
}

th small {
	font-weight: normal;
}


/* Table */

table {
	border-collapse: collapse;
}

.jsgrid {
	overflow: visible;
}

.jsgrid-grid-header {
    font-weight: bold;
    background-color: #204050;
    color: white;
}

.jsgrid-insert-row, .jsgrid-edit-row {
	background-color: #808080;
}

.jsgrid-cell {
	padding: 0.3em 0.5em;
}

.jsgrid-button {
	width: 30px !important;
	height: 24px;
	background-image: url('../static/button.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.jsgrid-button:hover {
	opacity 0.5;
	transition: opacity 200ms linear;
}

.jsgrid-insert-button { background-position: 0 0; }
.jsgrid-edit-button { background-position: -30px 0; }
.jsgrid-delete-button { background-position: -60px 0; }
.jsgrid-update-button { background-position: -90px 0; }
.jsgrid-cancel-edit-button { background-position: -120px 0; }
.jsgrid-insert-mode-button { background-position: -150px 0; }


select, .jsgrid-edit-row select {
	font-size: 11pt;
	padding: 0ex;
	color: black;
}

.jsgrid-grid-header, .jsgrid-grid-body {
	overflow: visible;
}

.jsgrid-pager {
	padding: 1em 0.5em;
	margin-top: 1ex;
}

.jsgrid-pager-nav-button a {
  	padding: 0.3ex 1ex;
    border: solid 1px #808080;
    border-radius: 2px;
    font-size: 90%;
    color: white;
    text-decoration: none;
    background-color: #505050;
}

.jsgrid-pager-nav-button a:hover {
	background-color: #e8e8e8;
}


/* Multi-select */

.select-pure__select {
	font-size: 11pt;
	padding: 2px 7px;
	min-height: 30px;
	background-color: #404040;
}

.select-pure__autocomplete, .select-pure__option {
	color: white;
	background-color: #404040;
	border-bottom: 1px solid #808080;
}

.select-pure__selected-label {
	margin: 2px 5px 2px 0px;
}

.times:before {
	content: "×";
}

.times {
	font-weight: 900;
}


/* Misc */

.left {
	float: left;
	width: 20%;
}

.graph-legend {
	border: solid 1px black;
	margin-left: 1em;
	margin-right: 0.5ex;
	padding-right: 1em;
}

.separator hr {
	border-top: dotted 1px black;
}


/* Progress */

#progress {
	border-collapse: separate;
	border-spacing: 2ex;
}

#progress td {
	padding: 0;
	border: solid 3px #606060;
	vertical-align: top;
}

#progress .locname {
	margin: 0;
	padding 0.5ex;
	text-align: center;
	font-weight: bold;
	background-color: #606060;
	color: white;
}

#progress table {
	margin: 1ex;
}

#progress table tr.withhint {
	background-color: #203040;
}

#progress table tr.withhint_absolute {
	background-color: #507090;
}

#progress table tr.recent {
	background-color: #804020;
}

#progress table th {
	border: none;
	padding: 0.2ex 1ex;
	text-align: left;
	font-weight: bold;
}

#progress table td {
	border: none;
	padding: 0.2ex 1ex;
}

#progress .maxSolved {
	font-weight: bold;
	color: #c04040;
}
