@media only screen and (max-device-width: 700px) {

body {
	margin: 0;
	padding: 0;
}

header {
	border: none;
	border-radius: 0;
}

#logo {
	padding: 0.2ex 1ex;
}

#title {
	float: none;
	padding: 0.2ex 0ex;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
	display: inline;
}

body {		font-weight: normal; }
h2 { 		font-weight: normal; }
input { 	font-weight: normal; }
textarea { 	font-weight: normal; }
#ueer { 	font-weight: normal; }

#user {
	display: inline;
	font-size: 14pt;
	padding: 0;
}

#user::before {
	content: " | ";
}

#time {
	width: 100%;
	font-size: 9pt;
	float: none;
	padding: 0.4ex 0ex;
}

#time small {
	font-size: 9pt;
}

#menubtn {
	display: block;
	float: right;
	padding: 0.2ex 1ex;
	cursor: pointer;
}

#logo img {
	height: 40px;
}

#menubtn img {
	height: 40px;
}

#nav {
	display: none;
	margin: 1ex 2ex;
}

nav a {
	display: block;
}

@media (max-device-width: 360px) {
	#time, #time small {
		font-size: 8pt;
	}

	h1, #user {
		font-size: 12pt;
	}

	#title {
		padding-top: 0.5ex;
	}
}

}
