/* General */

body {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 11pt;
	color: #808080;
}

b {
	font-weight: bold;
}

a {
	color: #306080;
}

.clear {
	clear: both;
	height: 0pt;
}


/* Header */

header {
	border: solid 1px #203060;
	background-color: #203060;
	color: white;
	border-radius: 0ex 0ex 1.5ex 1.5ex;
}

h1 {
	font-size: 16pt;
	font-weight: lighter;
	margin: 0.1ex;
}

#logo {
	float: left;
	padding: 0.3ex 2ex;
}

#title {
	float: left;
	margin: 0.5ex 1ex
}

#time {
	float: right;
	font-size: 14pt;
	margin: 0.6ex 2ex;
}

#time small {
	font-size: 9pt;
}

#user {
	font-size: 14pt;
	font-weight: lighter;
	margin: 0.1ex;
}

#user small {
	font-size: 12pt;
}

#version {
	color: #e0e0ff;
}

#section {
	color: #d0d0f0;
}


/* Navigation */

nav {
	background-color: #306080;
	border-radius: 1ex;
	color: white;
	padding: 1ex 2ex;
	margin: 2ex 0ex;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: bold;
	padding: 1ex 2ex;
	border-radius: 0.5ex;
}

nav a.selected {
	background-color: #a040a0;
}


/* Contents */

h2 {
	font-size: 18pt;
	font-weight: lighter;
}

#contents {
	margin: 1ex 2ex;
}

#flash {
	color: #a07070;
}


/* Forms */

form th {
	text-align: right;
}

label {
	margin-right: 1ex;
}

input, textarea {
	border: solid 1px rgb(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: lighter;
	padding: 0.3em 0.5em;
}

input[type="submit"] {
	padding: 0.6ex;
	border-radius: 0.6ex;
	font-weight: normal;
	color: black;
}


/* Tables */

table {
	margin-top: 1ex;
	border-collapse: separate;
}

thead  {
    font-weight: bold;
    background-color: #003d5b;
	color: white;
}

tr.alt-row, tr.jsgrid-alt-row {	background-color: #e0e0e0; }
tr.from-team { background-color: white; }
tr.to-team { background-color: #e0e0e0; }


td {
    padding: 0.5ex 2ex;
}

.pgbutton {
	padding: 0.3ex 1ex;
	margin: 0.5ex;
	border: solid 1px #808080;
	border-radius: 2px;
	font-size: 90%;
}

a.pgbutton {
	color: black;
	text-decoration: none;
	background-color: #e0e0e0;
}

a.pgbutton:hover {
	background-color: #e8e8e8;
}

span.pgbutton {
	background: #808080;
	color: white;
}
