/* General */

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: lighter;
	color: #808080;
}

b {
	font-weight: bold;
}

a {
	color: #306080;
}

.clear {
	clear: both;
	height: 0pt;
}


/* Header */

header {
	border: solid 1px #203060;
	background-color: #203060;
	color: white;
	border-radius: 0ex 0ex 1.5ex 1.5ex;
	padding: 0.3ex;
}

h1 {
	font-size: 18pt;
	font-weight: lighter;
	margin: 0;
}

#logo {
	float: left;
	padding: 0.5ex 2ex;
}

#logo img {
	height: 50px;
}

#menubtn img {
	height: 50px;
}

#title {
	float: left;
	padding: 0.4ex 1ex;
	margin: 0;
}

#time {
	float: right;
	width: 10em;
	font-size: 14pt;
	padding: 0.5ex 2ex;
	margin: 0;
}

#time small {
	font-size: 9pt;
}

#user {
	padding-top: 0.2ex;
	font-size: 14pt;
	font-weight: lighter;
}

#user small {
	font-size: 12pt;
}

#version {
	color: #e0e0ff;
}

#section {
	color: #d0d0f0;
}

#menubtn {
	display: none;
}


/* Navigation */

nav {
	background-color: #306080;
	border-radius: 1ex;
	color: white;
	padding: 1ex 2ex;
	margin: 2ex 0ex;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: bold;
	padding: 1ex 2ex;
	border-radius: 0.5ex;
}

nav a.selected {
	background-color: #a040a0;
}


/* Contents */

h2 {
	font-size: 18pt;
	font-weight: lighter;
}

#contents {
	margin: 1ex 2ex;
}

#flash {
	color: #a07070;
}


/* Forms */

form th {
	text-align: right;
}

label {
	margin-right: 1ex;
}

input, textarea {
	border: solid 1px rgb(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: lighter;
	padding: 0.3em 0.5em;
}

input[type="submit"] {
	padding: 0.6ex;
	border-radius: 0.6ex;
	font-weight: normal;
	color: black;
}


/* Tables */

table {
	margin-top: 1ex;
	border-collapse: separate;
}

thead  {
    font-weight: bold;
    background-color: #003d5b;
	color: white;
}

.alt-row, .jsgrid-alt-row {	background-color: #e0e0e0; }


td {
    padding: 0.5ex 2ex;
}

.pgbutton {
	padding: 0.3ex 1ex;
	margin: 0.5ex;
	border: solid 1px #808080;
	border-radius: 2px;
	font-size: 90%;
}

a.pgbutton {
	color: black;
	text-decoration: none;
	background-color: #e0e0e0;
}

a.pgbutton:hover {
	background-color: #e8e8e8;
}

span.pgbutton {
	background: #808080;
	color: white;
}


/* Messages */

.message {
	padding: 0.5ex 1ex;
	margin: 0.2ex;
	border-radius: 3px;
	line-height: 1.5;
}

.to-team { background-color: white !important; }
.from-team { background-color: #e0e0e0 !important; }

.message .time {
	font-weight: bold;
}


/* Notifications */

#notif-window {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10em;
	margin-top: -2.5em;
	width: 20em;
	height: 5em;
	background-color: white;
	border: solid 3px #003d5b;
	display: none;
}

#notif-title {
	background-color: #003d5b;
	color: white;
	font-weight: bold;
	padding: 0.1ex;
	text-align: center;
}

#notif-text {
	padding: 1ex;
}
